html,
body{

margin:0;

height:100%;

font-family:Arial, Helvetica, sans-serif;

}

body{

display:flex;

flex-direction:column;

}

header{

height:65px;

background:#173A2B;

color:white;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 15px;

}

.logo{

font-weight:bold;

font-size:20px;

}

header input{

width:55%;

padding:10px;

border-radius:30px;

border:none;

}

#map{

flex:1;

}

.bottom-menu{

height:70px;

display:flex;

justify-content:space-around;

align-items:center;

background:white;

box-shadow:0 -3px 10px rgba(0,0,0,.15);

}

.bottom-menu button{

font-size:28px;

background:none;

border:none;

}

#info-panel{

position:fixed;

top:0;

right:0;

width:360px;

max-width:100%;

height:100%;

background:white;

z-index:999;

box-shadow:-5px 0 20px rgba(0,0,0,.25);

transform:translateX(100%);

transition:.35s;

overflow:auto;

}

#info-panel.show{

transform:translateX(0);

}

#close-panel{

position:absolute;

top:15px;

right:15px;

border:none;

background:none;

font-size:28px;

cursor:pointer;

}

#panel-content{

padding:25px;

padding-top:60px;

color:#222;

}

#panel-content h2{

margin-bottom:15px;

color:#173A2B;

}

#panel-content p{

line-height:1.6;

}

#panel-content button{

padding:12px 18px;

border:none;

border-radius:8px;

background:#173A2B;

color:white;

font-weight:bold;

cursor:pointer;

transition:.2s;

}

#panel-content button:hover{

transform:scale(1.05);

}
